# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Intellij IDEA
out/
.idea/
*.iml
# Class Files #
*.class

# Package Files #
*.jar
